---
import { Hero } from "@/components/organizations/hero";
import { ProductList } from "@/components/organizations/product-list";
import products from "@/content/products/products.json";
import Layout from "@/layouts/layout.astro";
---

<Layout>
  <Hero />
  <div class="mt-24">
    <ProductList
      heading="Featured T-Shirts"
      subheading="Explore our bestsellers"
      products={products}
    />
  </div>
</Layout>
